$breakpoint-desktop: 1000px;
$breakpoint-ipad: 800px;

$body-padding-mobile: 0 14px;
$body-padding-desktop: 0 16px;

@font-face {
    font-family: cavalo;
	font-weight: normal;
	font-style: normal;
    src: url(Cavalo.woff);
}

@font-face {
    font-family: LetterGothicStd;
    font-weight: normal;
	font-style: normal;
    src: url(LetterGothicStd.woff);
}

@font-face {
    font-family: LetterGothicStd-Bold;
    font-weight: bold;
	font-style: normal;
    src: url(LetterGothicStd-Bold.woff);
}

@font-face {
    font-family: LetterGothicStd-Slanted;
    font-weight: normal;
	font-style: italic;
    src: url(LetterGothicStd-Slanted.woff);
}




body {
	margin: 0;
	padding: $body-padding-mobile;
	background-color: black;
	color: white;
	font-family: LetterGothicStd-Bold;
    font-weight: bold;
	font-size: 11px;
	box-sizeing: border-box; 

	@media (min-width: $breakpoint-desktop) {
		padding: $body-padding-desktop;
	}
}

%button-transparent {
	border: 0;
	padding: 0;
	outline: 0;
	background: none;
	-webkit-apperance: none;
}

.navbar {
	$navbar-height-mobile: 67px;
	$navbar-height-desktop: 80px;
	$tags-height: 20px;
	$button-height-mobile: 27px;
	$button-height-desktop: 20px;


	display: flex;
	flex-direction: row;
	align-items: center;
/*	// margin-bottom: $tags-height;*/
	position: relative;
	justify-content: space-between;
/*	// colocamos isso aqui para que ele sirva de âncora 
	// para o .navbar__tags que possui posição absoluta.
	// O top será aclculado a partir deste elemento.*/
	height: $navbar-height-mobile;
	width: 100%;
/*	// padding: 0 $body-padding-mobile;
	// font-family: Courier;*/

	@media (min-width: $breakpoint-desktop) {
		margin-bottom: 0;
		height: $navbar-height-desktop;
	}
/*		// Visibility hidden faz o elemento não aparecer, mas continua marcado o seu espaço
		// visibility: hidden;	*/

	&__logo {
		height: 18px;

		@media (min-width: $breakpoint-desktop) {
			height: 24px;
			margin-left: 10px;
		}
	}

	&__logo-mail {
	display: flex;
    flex-direction: column;
    align-items: flex-start;


	    @media (min-width: $breakpoint-desktop) {
    		flex-direction: row;
    		justify-content: space-between;
    		width: calc(95%);
    		align-items: center;
		}
	}

	&__tags {
		position: absolute;
		top: $navbar-height-mobile;
		left: 0;
		right: 0;
		height: $tags-height;
		margin: 0;
		padding: 0;
		list-style: none;

		@media (min-width: $breakpoint-desktop) {
			position: relative;
			top: 0;
			height: auto;
		}

		li {
			display: inline-block;
			margin: 0 8px;
			padding: 0 4px;
			background: gray;
			box-sizeing: border-box; 
		}
	}


	&__social {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;


		a {
			height: 100%;
			margin: 0;
			text-decoration: none;
		}

		img {
			height: $button-height-mobile;
		}

		img:last-child{
			margin: 0 0 0 17px;
		}

		a:last-child{
			margin: 0;
		}


		@media (min-width: $breakpoint-desktop) {

			a {
				height: 100%;
				text-decoration: none;
			}

			img {
				margin: 0;
			}

			a:last-child{
				margin: 0 10px 0 0;
			}
		}
	}

	&__button {
		@extend %button-transparent;
		height: $button-height-mobile;
		color: transparent;
		background-repeat: no-repeat;

		@media (min-width: $breakpoint-desktop) {
			height: $button-height-mobile;
		}
	}

	&__grid {
		background-image: url('images/grid.svg');
	}

	&__list {
		background-image: url('images/list.svg');
	}

	&__link {
		display: none;

		@media (min-width: $breakpoint-desktop) {
			display: inline-block;
			text-decoration: none;
			color: white;
			// font-family: Courier;
			font-size: 10px;
		}
	}

	&__email {
		display: inline-block;
		text-decoration: none;
		color: white;
		font-size: 12px;
		/*// margin-left: 3px;*/
		margin-top: 5px;

		@media (min-width: $breakpoint-desktop) {
			font-size: 13px;
			margin-left: 12px;
			margin-top: 0;
			margin-bottom: 2px;
		}
	}
}



.home-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;


	a {
		text-decoration: none;
		color: white;
	}

	@media (min-width: $breakpoint-desktop) {
		padding: 0 10px;

      	a:nth-child(3n+2) {
    		margin: 0 2%;
      	}
	}
}

.card {
	width: 100%;

	&__image-wrapper {
		position: relative;
	}

	&__image {
		width: 100%;
	}

	&__overlay {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, .75);
		color: white;
		opacity: 0;
		transition: opacity 200ms;

		.card:hover & {
			opacity: 1;
		}
	}

	&__title {
		color: white;
	}

	&__text {
		margin-top: 1px;
		margin-bottom: 12px;
	}

	@media (min-width: $breakpoint-desktop) {
		width: 32%;

		&__text {
			margin-top: 1px;
			margin-bottom: 20px;
		}
	}
}
