.navbar {
	$navbar-height-mobile: 67px;
	$navbar-height-desktop: 80px;
	$tags-height: 20px;
	$button-height-mobile: 27px;
	$button-height-desktop: 20px;


	display: flex;
	flex-direction: column;
	align-items: center;
/*	// margin-bottom: $tags-height;*/
	position: relative;
	justify-content: flex-start;
/*	// colocamos isso aqui para que ele sirva de âncora 
	// para o .navbar__tags que possui posição absoluta.
	// O top será aclculado a partir deste elemento.*/
	/*height: $navbar-height-mobile;*/
	width: 100%;
/*	// padding: 0 $body-padding-mobile;
	// font-family: Courier;*/

	@media (min-width: $breakpoint-desktop) {
		margin-bottom: 0;
		height: $navbar-height-desktop;
	}
/*		// Visibility hidden faz o elemento não aparecer, mas continua marcado o seu espaço
		// visibility: hidden;	*/

	.logo {
		height: 18px;

		@media (min-width: $breakpoint-desktop) {
			height: 24px;
			margin-left: 10px;
		}
	}

	.logo-menu {
	display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 20px;


	    @media (min-width: $breakpoint-desktop) {
    		flex-direction: column-reverse;
    		justify-content: space-between;
    		width: calc(95%);
    		align-items: center;
		}


		.menu {
			font-family: cavalo;


			ul {
				display: flex;
	    		flex-direction: row;
	    		margin: 0;
	    		padding-left: 170px;

	    		li:nth-child(2) {
	    			margin-left: 10px;
    				margin-right: 10px;
	    		}
			}

			a {
				display: inline-block;
				text-decoration: none;
				color: black;
				font-size: 12px;
				/*// margin-left: 3px;*/

				@media (min-width: $breakpoint-desktop) {
					font-size: 13px;
					margin-left: 12px;
					margin-top: 0;
					margin-bottom: 2px;
				}
			}
		}
	}





	.social {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 20px;
    	margin-bottom: 20px;
		/*justify-content: space-between;*/
		


		a {
			height: 100%;
			margin: 0;
			text-decoration: none;
		}

/*		img:first-child {
			margin: 0;
		}*/

		img {
			height: $button-height-mobile;
			margin: 0 0 0 17px;

			&:first-child {
				margin: 0;
			}
		}

/*		a:first-child {
			margin: 0;
		}*/

		a:last-child{
			margin: 0;
		}


		@media (min-width: $breakpoint-desktop) {

			a {
				height: 100%;
				text-decoration: none;
			}

			img {
				margin: 0;
			}

			a:last-child{
				margin: 0 10px 0 0;
			}
		}
	}

}



.home-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;


	a {
		text-decoration: none;
		color: white;
	}
}

.card {
	width: 100%;

	.image-wrapper {
		position: relative;
	}

	.image {
		width: 100%;
	}

	.overlay {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		position: absolute;
		text-align: center;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, .75);
		color: white;
		opacity: 0;
		transition: opacity 200ms;

		&:hover {
			opacity: 1;
		}
	}

	.title {
		color: white;
		text-transform: uppercase;
		width: 80%;
		margin: auto;
	}

	.text {
		margin: 0;
/*		margin-top: 1px;
		margin-bottom: 12px;*/
	}

	@media (min-width: $breakpoint-desktop) {
		width: 20%;

		.text {
			margin-top: 1px;
			margin-bottom: 20px;
		}
	}
}
