@font-face {
    font-family: cavalo;
	font-weight: normal;
	font-style: normal;
    src: url(Cavalo.woff);
}

@font-face {
    font-family: LetterGothicStd;
    font-weight: normal;
	font-style: normal;
    src: url(LetterGothicStd.woff);
}

@font-face {
    font-family: LetterGothicStd-Bold;
    font-weight: bold;
	font-style: normal;
    src: url(LetterGothicStd-Bold.woff);
}

@font-face {
    font-family: LetterGothicStd-Slanted;
    font-weight: normal;
	font-style: italic;
    src: url(LetterGothicStd-Slanted.woff);
}